# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify






##HORRID CODE

    // enteredWordArr.forEach((letter, i) => {
    //   rowBoxes.forEach((box) => {
    //     let letterCheck = wordArr.find((element) => box.innerText === element);
    //     let boxEle = rowBoxes.find((box) => box.id === `box-${i + 1}`);

    //     if (letter === wordArr[i]) {
    //       boxEle.style.backgroundColor = "#6aaa64"; //green
    //       boxEle.style.color = "white";
    //     } else if (letterCheck !== undefined) {
    //       letterCheck = undefined;
    //       boxEle.style.backgroundColor = "#c9b458"; //yellow
    //       boxEle.style.color = "white";
    //     } else {
    //       box.style.backgroundColor = "#787c7e"; //black
    //       box.style.color = "white";
    //     }
    //   });
    // });


    // let newColor;
    //  enteredWord.split("").map((letter, i) => {
    //   if (letter == curWord[i]) {
    //     newColor = [...color, color.push("green")];
    //     setColor(newColor);
    //   } else if (curWord.split("").includes(letter)) {
    //     newColor = [...color, color.push("yellow")];
    //     setColor(newColor);
    //   } else {
    //     newColor = [...color, color.push("gray")];
    //     setColor(newColor);
    //   }
    // });

    // TO RECREATE BUG //
    // if you enter two of the same letter and one of them is in the
    // correct spot, then the block will permanently be yellow
    // no matter what letter you enter

    // found second bug. Same as above, but if you guess the last letter correctly

    // let enteredWordArr = enteredWord.split("");
    // let wordArr = curWord.split("");