input[type="text"] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-btn {
  width: 30%;
  height: 50px;
}

.word-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn-container {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: center;
}
